@viewport {
	width: device-width ;
	zoom: 1.0 ;
}

@import url('https://fonts.googleapis.com/css?family=Armata|Roboto'); 

body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Armata', sans-serif;
}

.hero {
	background-image: url(../assets/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	min-height: 100vh;
	width: 100%;
	align-items: center;
}

.hero .grid-container {
	width: 100%;
}

.hero h1 {
	font-size: 60px;
	line-height: 1.4;
}

.hero p {

}

#services {
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	padding-top: 20px;
}


ul {
	color: white; font-family: armata; 
	list-style-type: none;
}

li {
	color: white;
	display: inline-block;
	width: 80px;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;

}

li a { 
	color: white; 
	text-decoration: none;
	text-transform: uppercase;
}

h1 {
	color: white; font-family: armata;
	font-size: 24px;
}

p {
	color: white;
	font-family: roboto;
	font-weight:lighter; 
	font-size: 20px;
	line-height: 31px;
}

i {
	color: white;
	font-size: 25px;

}

.logo {
	width: 70px;
}

.scroll-down {
	color: white;
}

.scroll-down i {
	margin-right: 10px;
}

.services-nav {
	padding-top: 50px;
	margin-top: 30px;

}

ul.services-nav {
	display: flex;
	padding-bottom: 25px;
	padding-top: 25px;
}

.contact-details ul {
	color: white;
	font-family: armata;
	list-style-type: none;
	line-height: 5px;
	margin-top: 30px
	padding-top: 5px;
}

ul.services-nav a {

	color: #1fa6cd;
	display: inline;
	text-align: center;

}

.original-logo {
	width: 90px;
	padding-top: 30px;
	align-items: right;
}

.contact-details li.chat {
	text-transform: uppercase;
	color: #1fa6cd;
	font-weight: bold;
}

.contact-details li {
	color: #1fa6cd;
	width: 100%;
	text-align: left;
	font-size: 15px

}

.contact-details i {
	color: #1fa6cd;
	margin-right: 10px;
	font-size: 15px;
}

/* Service Section Styling */

.intro-section {
	background-image: url(../assets/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;


}

.intro-section h3 {
	color: #ffffff;
	text-align: center;
	font-family: armata;
	text-transform: uppercase;
}

.intro-section i {
	margin-right: 10px;
}

.service-section p {
	color: white;
	font-family: roboto;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	line-height: 30px
}

.service-summary p {
	color: #323232;
	font-family: roboto;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	line-height: 30px

}

.service-summary a {
	color: #4596a7;
}

.service-summary2 p {	
	color: #323232;
	font-family: roboto;
	font-size: 18px;
	font-weight: 300;
	text-align: left;

}

.column-text {
	column-count: 2;
	column-gap: 2rem;
	padding-top: 50px;
}

table {
	margin-top: 50px;
}
.service-table {

}

.table-wrapper {
	overflow: auto;
}

.product-listing th span {
	margin-right: 10px
}

.product-listing tbody tr .yes {
	color: #008000;
	font-size: 15px;
	font-family: 
}

.product-listing tbody tr .no {
	color: #f00;
	font-size: 15px;
}

.product-listing .fdo {
	text-transform: uppercase;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
	font-size: .8em;
	color: #fff;
	cursor: pointer;
	background: none repeat scroll 0 0 #26ade4;
	text-align: center;

}

/* Footer Section */

.footer {
	background-image: url(../assets/footer.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
	margin-top: 150px;
	width: 100%;
}

.footer h3 {
	color: white;
	font-family: armata;
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
}

.footer h2 {
	color: white;
	font-family: armata;
	font-size: 55px;
	font-weight: 900;
	margin: -20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}

.accreditations ul {
	    color: white;
    font-family: armata;
    list-style-type: none;
    margin: auto;
    display: table;
}

/* Newsletter */

.newsletter {
	background-image: url(../assets/footer-large.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	float: left;
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid #333;
}

.newsletter h2 {
	font-family: armata;
	color: white;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}

.newsletter p {
	color: #e7e7e7;
	font-size: 20px;
	text-align: center;
	padding: 10px 5px;
    margin-bottom: 20px;
}

.newsletter form input {
    float: left;
    padding: 10px 5px;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.newsletter input {
    margin-left: 1090px;
    float: left; 
    padding: 15px 30px;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: 20px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    width: 10%;
    color: #999;
    margin-bottom: 0;
}

.social ul {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

section.social ul li a {
    display: table;
    margin: auto;
    text-align: center;
    color: #589dc1;

}

li span.fab {
    width: 100%;
    height: 30px;
    margin-left: 30px;
}

section.social ul li a span + span {
    margin-left: 10px;
}

section.social ul li a span {
    margin: 0 10px 0 0;
    vertical-align: middle;
}